$white-color: #fff;
$black-color: #000;
$background-color: #f3f3f3;
$primary-color: #e3145f;

$box-shadow-1: 0px 3px 5px rgba(0, 0, 0, 0.2);
$box-shadow-2: 0 2px 3px 1px rgba(0, 0, 0, 0.3);

$transition: all 0.4s ease-out;
