@import "partials/utils";

.ErrorPage {
  .error {
    @extend %container;
    text-align: center;
    margin-top: 100px;
    img {
      width: 300px;
      margin-bottom: 20px;
    }
    p {
      margin-top: 5px;
      font-size: 18px;
      span {
        color: slateblue;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
