@import "partials/variables";
@import "partials/mixins";
@import "partials/utils";

.ImageUpload {
  @extend %container;
  width: 100%;
  max-width: 400px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: $white-color;
  box-shadow: $box-shadow-1;

  progress {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 4px;
    -webkit-appearance: none;
  }
  progress::-webkit-progress-bar {
    background-color: #eee;
  }
  progress::-webkit-progress-value {
    background-color: $primary-color !important;
  }
  progress {
    background-color: #eee;
  }
  progress::-moz-progress-bar {
    background-color: $primary-color !important;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
  }

  textarea {
    width: 100%;
    resize: none;
    height: 70px;
    outline: none;
    border: none;
    font-size: 16px;
  }

  .upload {
    @include flexbox(space-between, center, row);

    .input-file {
      @include flexbox(center, center, row);
      p {
        margin-bottom: 5px;
        margin-left: 5px;
      }
      svg {
        cursor: pointer;
      }
    }

    .upload-btn {
      @extend %btn-styles;
      @include button-colors($white-color, $primary-color);
      transition: $transition;
      &:hover {
        background-color: $black-color;
      }
    }
  }
}
