@import "partials/variables";
@import "partials/mixins";
@import "partials/utils";

.Navbar {
  width: 100%;
  padding: 10px 0;
  background-color: $white-color;
  box-shadow: $box-shadow-1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  nav {
    @include flexbox(space-between, center, row);
    @extend %container;
    .logo-container {
      @include flexbox(center, center, row);
      img {
        width: 45px;
        margin-right: 5px;
      }
    }
    .user-details {
      @include flexbox(center, center, row);
      .sign-out-btn {
        @include button-colors($white-color, $primary-color);
        @extend %btn-styles;
        margin-left: 10px;
        transition: $transition;
        &:hover {
          background-color: $black-color;
        }
      }
    }
  }
}

@media (max-width: 340px) {
  h1 {
    font-size: 20px;
  }
  .user-details {
    .sign-out-btn {
      font-size: 14px;
    }
  }
}
