@import "partials/variables";
@import "partials/mixins";
@import "partials/utils";

.Post {
  @extend %container;
  width: 100%;
  max-width: 400px;
  background-color: $white-color;
  margin-bottom: 30px;
  box-shadow: $box-shadow-2;

  .post-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    h2 {
      font-size: 20px;
      align-self: center;
      margin-left: 10px;
      font-weight: 500;
    }
    .delete-post-btn {
      @extend %btn-styles;
      @extend %grid-center;
      align-self: center;
      padding: 0;
      background-color: transparent;
    }
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  .post-footer {
    padding: 5px 10px 10px 10px;
    .likes {
      display: flex;
      font-size: 18px;
      margin-bottom: 5px;
      .like {
        @extend %btn-styles;
        @extend %grid-center;
        padding: 0;
        background-color: transparent;
      }
    }
    .caption {
      display: grid;
      grid-template-columns: 1fr auto;

      strong {
        font-weight: 600;
      }
      p {
        word-break: break-all;
        margin-right: 15px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        input {
          border: none;
          outline: none;
          width: 70%;
          font-size: 16px;
          flex: 1;
        }
      }

      .edit-caption-btn {
        @extend %btn-styles;
        @extend %grid-center;
        background-color: transparent;
        padding: 0;
        margin: 0;
        svg {
          font-size: 18px;
        }
      }
    }
    .comment {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 2px 0;
      word-break: break-all;
      p {
        margin-right: 15px;
      }
      width & > * {
        align-self: center;
      }
      strong {
        font-weight: 500;
      }
      .delete-comment-btn {
        @extend %btn-styles;
        @extend %grid-center;
        background: transparent;
        padding: 0;
        svg {
          font-size: 16px;
        }
      }
    }
  }

  .AddComment {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    input {
      padding: 10px;
      font-size: 16px;
      border: none;
      outline: none;
    }
    .post-btn {
      background-color: transparent;
      border: none;
      outline: none;
      padding: 10px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      color: $primary-color;
    }
    .post-btn:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}
